.profilename {
  margin-top: 15rem;
  margin-left: auto;
  margin-right: auto;
}
.color{
   text-align: center;
   border-radius:10%;
   width:90%;
  margin-left: auto;
   margin-right: auto;
  
}
.editprofile {

    margin-left: auto;
    margin-right: auto;
    width: 7rem;
    --box-shadow: none !important;
    box-shadow: none;
    background-color: #f8d874;
    --background-activated: #ad4a4a;

}
/* .bte {
  --background: rgb(158, 119, 119);
  color: rgb(149, 15, 15);
} */
