.fabbuttonprofile {
  margin-top: 4rem;
  --box-shadow: none;
  width: 10rem;
  height: 10rem;
  margin-left: -3rem;

  --background: trasepantize(100);
  --background-focused: trasepantize(100);
  --background-hover: trasepantize(100);
  --background-activated: trasepantize(100);
}
.fabbuttonprofileicon {
  width: 10rem;
  height: 10rem;
  color: #000;
}
.name {
  margin-top: 0rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.heightname {
  height: 3rem;
  font-size: 1rem;
}
.contentcenter {
  align-items: center;
  justify-items: center;
  display: flex;
  text-align: center;
}

.select {
  max-width: 100%;
  width: 100%;
}
/* .color {
  color: ;
} */

.ion-action-sheet .action-sheet-button,
ion-action-sheet .action-sheet-button.ion-focused {
  color: #000000;
}

.bn {
  --border-radius: 3rem;
  --background-activated: #30308d;
}
.icon{
  width: 60px;
  display: flex;
  margin-left:5%;
  border-radius: 20%;
}
